body {
    margin: 20px;
}

.bingo-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 2px solid black;
    width: 350px;
    height: 350px;
    margin: 10px;
    padding: 30px;
    page-break-inside: avoid;
    background-image: url(bg.png);
    background-position: center;
    background-size: 110%;
}

.bingo-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 17px;
    text-align: center;
    word-wrap: break-word;
    padding: 3px;
    background-color: white;
}

#bingo-sheet {
    display: flex;
    flex-wrap: wrap;
}

.title {
    display: block;
}